
#container {
	border:1px solid red;
	align-content: center;
}

.header {
	border: 1px solid blue;
	height: 50px;
	font-size: 20px;
	font-family: 'Playfair Display Black', serif;
}

#profile-pic{
	background-image: url('/static/profile.png');
	background-size: cover;
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (resolution: 150dpi) {
    
  	.header {
  		font-size: 30px;
  	}

  	body {
  		font-size: 30px;
  	}

}