
body {
	font-family: 'Raleway', sans-serif;
}

#container {
	border:1px solid red;
	align-content: center;
}

.header {
	border: 1px solid yellow;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Playfair Display Black', serif;
	font-size: 3em;
}

#profile-pic{
	max-height:300px;
	background-image: url('/static/profile.png');
	background-size: cover;
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (resolution: 150dpi) {
    
  	.header {
  		font-size: 30px;
  	}

  	body {
  		font-size: 30px;
  	}

}