


body{
    background-color: white;
    color: #2D3748 !important;
}

html, body{
	height:100vh;
	font-size: 1.5em;
    line-height:1.5em;
}

.nav {
	font-size:1.5rem;
	padding:20px;
}

.nav a{
	/*font-size: 26px !important;*/
	margin-right:30px;
}


a {
	color: #2D3748 !important;
	text-decoration: none !important;
	text-transform: uppercase;
}

/*

a:hover {
	color: #DD6B20 !important;
	padding-bottom:10px !important;
	border-bottom: 2px solid #DD6B20 !important;
}

.nav a{
	font-family: 'Raleway', sans-serif;
	margin-right:30px
}*/