


body{
    background-color: #DBE5DF;
    color: #2D3748 !important;
    line-height:2rem;
}

html, body{
	height:100vh;
}

.nav {
	display:fixed;
	padding:20px;
	align-content: center;
	line-height:60px;
	color:#2D3748;
}

a {
	color: #2D3748 !important;
	text-decoration: none !important;
	text-transform: uppercase;
}

a:hover {
	color: #DD6B20 !important;
	padding-bottom:10px !important;
	border-bottom: 2px solid #DD6B20 !important;
}

.nav a{
	font-size:1rem;
	letter-spacing: 0.08em;
	font-family: 'Raleway', sans-serif;
	margin-right:30px
}

@media screen and (max-width: 480px) {
	.nav{
		text-align:center;
	}

	.nav a{
		margin-right:10px !important;
	}
}