


body{
    background-color: white;
    color: #2D3748 !important;
}

html, body{
	height:100vh;
	font-size: 1.5em;
    line-height:1.5em;
}

.nav {
	font-size:1.75em;
	padding:20px;
}

.nav a{
	margin-right:30px;
}


a {
	color: #2D3748 !important;
	text-decoration: none !important;
	text-transform: uppercase;
}
